# Database
DATABASE_URL=postgres://postgres:postgres@localhost:5432/applications
AUTH_SECRET=replace-with-a-long-random-secret
AUTH_URL=http://localhost:3000

# Keycloak Options
KEYCLOAK_CLIENT_ID=helm
KEYCLOAK_CLIENT_SECRET=replace-with-keycloak-client-secret
KEYCLOAK_ISSUER=https://auth.piratskastranka.si/auth/realms/mladipirati
KEYCLOAK_ADMIN=https://auth.piratskastranka.si/admin/realms/mladipirati
KEYCLOAK_DEFAULT_CLIENT_ROLE=user

LEGALIZIRAJMO_TURNSTILE_SECRET_KEY=replace-with-your-cloudflare-turnstile-secret
LEGALIZIRAJMO_LEGALIZIRAJMO_TURNSTILE_EXPECTED_HOSTNAME=legalizirajmo.si

MP_TURNSTILE_SECRET_KEY=replace-with-your-other-cloudflare-turnstile-secret
MP_LEGALIZIRAJMO_TURNSTILE_EXPECTED_HOSTNAME=mladipirati.si

# Docker Postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=applications

# Automation
DISCORD_WEBHOOK=https://discord.com/api/webhooks/...
ADMIN_HOST=https://ingest.example.com
