# Database
DATABASE_URL=postgres://postgres:postgres@localhost:5432/applications
AUTH_SECRET=replace-with-a-long-random-secret

LEGALIZIRAJMO_TURNSTILE_SECRET_KEY=replace-with-your-cloudflare-turnstile-secret
LEGALIZIRAJMO_LEGALIZIRAJMO_TURNSTILE_EXPECTED_HOSTNAME=legalizirajmo.si

MP_TURNSTILE_SECRET_KEY=replace-with-your-other-cloudflare-turnstile-secret
MP_LEGALIZIRAJMO_TURNSTILE_EXPECTED_HOSTNAME=mladipirati.si

# Initial admin bootstrap
INITIAL_ADMIN_NAME=Initial Admin
INITIAL_ADMIN_USERNAME=admin
INITIAL_ADMIN_PASSWORD=change-me-please

# Docker Postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=applications
